/* Coolors Exported Palette - https://coolors.co/5efc8d-f5a65b-9000b3-849483-948392 */

/* CSS HEX */
--spring-green: #5efc8dff;
--rajah: #f5a65bff;
--violet-ryb: #9000b3ff;
--morning-blue: #849483ff;
--mountbatten-pink: #948392ff;

/* CSS HSL */
--spring-green: hsla(138, 96%, 68%, 1);
--rajah: hsla(29, 89%, 66%, 1);
--violet-ryb: hsla(288, 100%, 35%, 1);
--morning-blue: hsla(116, 7%, 55%, 1);
--mountbatten-pink: hsla(307, 7%, 55%, 1);

/* SCSS HEX */
$spring-green: #5efc8dff;
$rajah: #f5a65bff;
$violet-ryb: #9000b3ff;
$morning-blue: #849483ff;
$mountbatten-pink: #948392ff;

/* SCSS HSL */
$spring-green: hsla(138, 96%, 68%, 1);
$rajah: hsla(29, 89%, 66%, 1);
$violet-ryb: hsla(288, 100%, 35%, 1);
$morning-blue: hsla(116, 7%, 55%, 1);
$mountbatten-pink: hsla(307, 7%, 55%, 1);

/* SCSS RGB */
$spring-green: rgba(94, 252, 141, 1);
$rajah: rgba(245, 166, 91, 1);
$violet-ryb: rgba(144, 0, 179, 1);
$morning-blue: rgba(132, 148, 131, 1);
$mountbatten-pink: rgba(148, 131, 146, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #5efc8dff, #f5a65bff, #9000b3ff, #849483ff, #948392ff);
$gradient-right: linear-gradient(90deg, #5efc8dff, #f5a65bff, #9000b3ff, #849483ff, #948392ff);
$gradient-bottom: linear-gradient(180deg, #5efc8dff, #f5a65bff, #9000b3ff, #849483ff, #948392ff);
$gradient-left: linear-gradient(270deg, #5efc8dff, #f5a65bff, #9000b3ff, #849483ff, #948392ff);
$gradient-top-right: linear-gradient(45deg, #5efc8dff, #f5a65bff, #9000b3ff, #849483ff, #948392ff);
$gradient-bottom-right: linear-gradient(135deg, #5efc8dff, #f5a65bff, #9000b3ff, #849483ff, #948392ff);
$gradient-top-left: linear-gradient(225deg, #5efc8dff, #f5a65bff, #9000b3ff, #849483ff, #948392ff);
$gradient-bottom-left: linear-gradient(315deg, #5efc8dff, #f5a65bff, #9000b3ff, #849483ff, #948392ff);
$gradient-radial: radial-gradient(#5efc8dff, #f5a65bff, #9000b3ff, #849483ff, #948392ff);